@import 'tailwindcss';
/* @import "tw-animate-css"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/geist-v3-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/geist-v3-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/geist-v3-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/geist-v3-cyrillic_latin-700.woff2') format('woff2');
}

@theme {
    --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;

    --color-red-brand: #FF4242;
    --color-charcoal: #161616;
    --color-gray-medium: #6F6F6F;
    --color-off-white: #F7F7F7;
    --color-gray-light: #D9D9D9;
    --color-mint-green: #73E2A3;
    --color-forest-green: #095C37;

    --breakpoint-3xl: 120rem;

    --shadow-top-subtle: 0px -4px 28px 0px rgba(0, 0, 0, 0.08);
}

@layer components {
    body {
        @apply font-sans font-normal text-sm 2xl:text-base tracking-[-0.14px] 2xl:tracking-[-0.16px];
    }

    .h1 {
        @apply font-medium text-[1.75rem] md:text-5xl leading-[1.2] 2xl:leading-tight tracking-[-1.12px] md:tracking-[-1.92px];
    }

    .h2 {
        @apply font-bold text-[1.75rem] leading-[1.2];
    }

    .h3 {
        @apply font-bold text-xl leading-snug;
    }

    .h5 {
        @apply font-medium text-lg;
    }

    .container-fluid {
        @apply w-full px-4 md:px-10 lg:px-20 2xl:px-60 max-w-screen lg:max-w-[1920px] mx-auto;
    }

    .container-auth {
        @apply w-full px-6 md:px-11 mx-auto max-w-screen;
    }

    .container-dashboard {
        @apply w-full px-4 md:px-[42px] mx-auto max-w-screen;
    }

    .full-object-center {
        @apply object-cover object-center w-full h-full;
    }
}

html {
    scroll-behavior: smooth;
}